.imageLogo { 
    width: 3em;
    height: 3em;
}
.modalOff { 
    display: none;
}

/*FONDO*/
.mainLogin,
.mainCreate,
.OpenModal { 
    background-color: rgba(137, 43, 226, 0.133);
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
  }
  
.mainLoginOff,
.mainCreateOff,
.CloseModal { 
      display: none;
  }